In [2]:
#Print numbers from 1 to 10 using a for loop
for x in range(1,11):
    print(x, end=" ")

1 2 3 4 5 6 7 8 9 10

In [15]:
# print 15 to 10 numbers using for loop
for x in range(15, 9, -1):
    print(x, end=" ")

15 14 13 12 11 10

In [17]:
# print the first 5 even numbers using a for loop
for x in range(0,6,2):
    print(x, end=" ")

0 2 4

In [29]:
#Print Good Morning 10 times
for msg in range(10):
    print("Good Morning")

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

In [26]:
#Print numbers from 10 to 1 descending order
for x in range(10,0, -1):
    print(x, end=" ")

10 9 8 7 6 5 4 3 2 1

In [35]:
#Print odd numbers from 10 to 30
for odd in range(11,31,2):
    print(odd, end=" ")

11 13 15 17 19 21 23 25 27 29

In [39]:
# print the first 5 even numbers using a for loop
for e in range(0,6,2):
    print(e, end=" ")

0 2 4

In [41]:
# print the first 5 odd numbers using a for loop
for odd in range(0,6,3):
    print(odd, end=" ")

0 3

In [51]:
#Program first ten multiples of 4 using a for loop(4,8,12,16...)
for m in range(4,44,4):
    print(m, end= " ")

4 8 12 16 20 24 28 32 36 40

In [47]:
#Program first ten multiples of 4 using a for loop(4,8,12,16...)
for m in range(1, 11):
    print(m*4, end=" ")

4 8 12 16 20 24 28 32 36 40

In [53]:
#Program first ten multiples of 5 using a for loop(5,10,15,20...)
for m in range(1,11):
    print(m*5, end=" ")

5 10 15 20 25 30 35 40 45 50

In [55]:
#print a multiplication table of 6 using a for loop
for ta in range(1,11):
    print(ta*6, end=" ")

6 12 18 24 30 36 42 48 54 60

In [56]:
#print a multiplication table of 6 using a for loop
for table in range(1,11):
    print(f"6 x{table} = {table * 6}")

6 x1 = 6
6 x2 = 12
6 x3 = 18
6 x4 = 24
6 x5 = 30
6 x6 = 36
6 x7 = 42
6 x8 = 48
6 x9 = 54
6 x10 = 60

In [60]:
#print odd numbers in the range in 10 to 50
for odd in range(10,51,3):
    print(odd, end=" ")

10 13 16 19 22 25 28 31 34 37 40 43 46 49