In [13]:
#1.Right Triangle "*"
num=int(input("Enter the value :"))
for i in range(1,num+1):   #Rows
    for j in range(1,i+1): #Columns
        print("*",end=" ")
    print()

Enter the value : 5

*
* *
* * *
* * * *
* * * * *

In [16]:
#2. Right Trigale with odd number of column "*"
num=int(input("Enter the number of rows :"))
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end=" ")
    k=k+2
    print()

Enter the number of rows : 3

*
* * *
* * * * *

In [2]:
#3. Pyramid shape 
num=int(input("Enter the row value :"))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter the row value : 4

   *
  * *
 * * *
* * * *

In [4]:
#4. Reverse Pyramid shape
num= int(input("Enter the rows value :"))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter the rows value : 7

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [6]:
#5. Diamond shape
def pyramid(rows):
    for i in range(rows):
        print(" "*(rows-i-1)+"*"*(i+1))
    for j in range(rows-1,0,-1):
        print(''*(rows-j)+'*'*(j))