In [3]:
#List
#A group of elements as one entity, where allowed duplicate and hetrogenious.
l1=[10,10.8,"Vasu", True, None, [], {}]
print(l1)

[10, 10.8, 'Vasu', True, None, [], {}]

In [5]:
#CRUD
#create
l1= []
l2= [10,20,30,40,50,60,70,80,90,100]
l3= eval(input("Enter List Value"))
l4= list(range(10))
l5= 'Vasu Dev'.split()

print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

Enter List Value 234

[]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
234
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['Vasu', 'Dev']

In [7]:
#Read
ids= [110,120,130,140,150,160]
enames= ["Vasu", "Vichu", "Vikram", "Venkatesh", "Vinay", "Vikranth"]
#indexing is applicable
print(ids)
print(enames)

[110, 120, 130, 140, 150, 160]
['Vasu', 'Vichu', 'Vikram', 'Venkatesh', 'Vinay', 'Vikranth']

In [1]:
#Read List Elements
ids= [110,120,130,140,150,160, 170]
enames= ["Vasu", "Vichu", "Vikram", "Venkatesh", "Vinay", "Vikranth","Vishnu"]

#Slice Method [:]
new_names=enames[:]
print(enames)
print(new_names)

print(ids)
print(ids[0])
print(ids[1])
print(ids[2])
print(ids[3])
print(ids[4])
print(ids[5])

print(enames)
print(enames[0])
print(enames[1])
print(enames[2])
print(enames[3])
print(enames[4])
print(enames[5])

['Vasu', 'Vichu', 'Vikram', 'Venkatesh', 'Vinay', 'Vikranth', 'Vishnu']
['Vasu', 'Vichu', 'Vikram', 'Venkatesh', 'Vinay', 'Vikranth', 'Vishnu']
[110, 120, 130, 140, 150, 160, 170]
110
120
130
140
150
160
['Vasu', 'Vichu', 'Vikram', 'Venkatesh', 'Vinay', 'Vikranth', 'Vishnu']
Vasu
Vichu
Vikram
Venkatesh
Vinay
Vikranth

In [17]:
#iterating list object - forloop
#Forloop
enames= ["Vasu", "Vichu", "Vikram", "Venkatesh", "Vinay", "Vikranth"]
for name in enames:
    print(name, end=" ")

Vasu Vichu Vikram Venkatesh Vinay Vikranth

In [25]:
#iterating list object - while loop
#Whileloop
enames= ["Vasu", "Vichu", "Vikram", "Venkatesh", "Vinay", "Vikranth"]
i=0
while i<=5:
    print(enames[i], end=" ")
    i=i+1

Vasu Vichu Vikram Venkatesh Vinay Vikranth

In [27]:
#iterating list object - forloop
#Forloop
ids= [110,120,130,140,150,160, 170]
for id in ids:
    print(id, end=" ")

110 120 130 140 150 160 170

In [29]:
#iterating list object - whileloop
#while loop
ids= [110,120,130,140,150,160, 170]
i=0
while i<=6:
    print(ids[i], end=" ")
    i=i+1

110 120 130 140 150 160 170