In [3]:
#Tuple
#Group of element as one entity, and allowed hetrogenious elements.once tuple object created, we can't performance update operation.
#Update and Delete operation is not possiable.
t1= ()
print(type(t1))

<class 'tuple'>

In [12]:
#Create 
enames=('Vasu','Karna','Arjun','Krishna','Bhishma','Bhimma','Abhi','Ashwathdhama','Dhorocharya', 'Nakula')
print(enames)
print(enames[0])
print(enames[1])
print(enames[2])
print(enames[3])
print(enames[4])
print(enames[5])
print(enames[6])
print(enames[7])
print(enames[8])
print(enames[9])

('Vasu', 'Karna', 'Arjun', 'Krishna', 'Bhishma', 'Bhimma', 'Abhi', 'Ashwathdhama', 'Dhorocharya', 'Nakula')
Vasu
Karna
Arjun
Krishna
Bhishma
Bhimma
Abhi
Ashwathdhama
Dhorocharya
Nakula

In [3]:
#Create 
t= ()
t1=('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')
t2= (10,20,30,40,50,60,70,80,90,100)
print(t1)
print(t1[1])
print(t2)
print(t2[4])

('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')
Tuesday
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
50

In [10]:
#for loop
t1=('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')
for t in t1:
    print(t)

Monday
Tuesday
wednesday
thuesday
Friday

In [13]:
#while loop
t1=('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')
i=0
while i<=4:
    print(t1[i])
    i=i+1

Monday
Tuesday
wednesday
thuesday
Friday

In [16]:
#With len - while
t1=('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')
i=0
while i<=len(t1)-1:
    print(t1[i])
    i=i+1

Monday
Tuesday
wednesday
thuesday
Friday

In [24]:
#Sort
t1=('Monday', 'Tuesday', 'wednesday', 'thuesday', 'Friday')

print(tuple((sorted(t1))))

days= sorted(t1)
print(days)

new_days=sorted(t1)
print(new_days)
print (type(new_days))

t2= (10,20,30,40,50,60 ,9,70,80,90,100)
num= sorted(t2)
print(num)

('Friday', 'Monday', 'Tuesday', 'thuesday', 'wednesday')
['Friday', 'Monday', 'Tuesday', 'thuesday', 'wednesday']
['Friday', 'Monday', 'Tuesday', 'thuesday', 'wednesday']
<class 'list'>
[9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [20]:
enames=('Vasu','Karna','Arjun','Krishna','Bhishma','Bhimma','Abhi','Ashwathdhama','Dhorocharya', 'Nakula')
new_names=sorted(enames)
print(new_names)

['Abhi', 'Arjun', 'Ashwathdhama', 'Bhimma', 'Bhishma', 'Dhorocharya', 'Karna', 'Krishna', 'Nakula', 'Vasu']

In [10]:
#Read Operation
#Accessing tuple element - index and slice
ids = (101,102,103,104,105,106,107,108)
print(ids[:])
print(ids[3:7])
print(ids[2:5])

(101, 102, 103, 104, 105, 106, 107, 108)
(104, 105, 106, 107)
(103, 104, 105)

In [14]:
#Names Update in list object
enames=['Vasu','Karna','Arjun','Krishna','Bhishma','Bhimma','Abhi','Ashwathdhama','Dhorocharya', 'Nakula']
enames[1] = "Suryaputhra Karna"
print(enames)

['Vasu', 'Suryaputhra Karna', 'Arjun', 'Krishna', 'Bhishma', 'Bhimma', 'Abhi', 'Ashwathdhama', 'Dhorocharya', 'Nakula']

In [15]:
#Names Update in tuple object
#Once object is created we can't update..!
enames=('Vasu','Karna','Arjun','Krishna','Bhishma','Bhimma','Abhi','Ashwathdhama','Dhorocharya', 'Nakula')
enames[1] = "Suryaputhra Karna"
print(enames)

TypeError: 'tuple' object does not support item assignment